.navbar-list-item.dropdown:hover .mega-menu {
    display: block;
}

.mega-menu {
    display: none;
    position: fixed;
    left: 0;
    width: 100vw;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
}

.navbar-list-item.dropdown {
    position: relative;
}
